<div class="col-md-6 col-md-offset-3">
    <h4>Registrierung</h4>
    <h5>Information über die Ehepartner</h5>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form name="form" ng-submit="register()" role="form">
    	<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
        <label for="firstName">Vorname</label>
        <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required>
       	</div>
        
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
        <label for="lastName">Nachname</label>
        <input type="text" name="lastName" id="lastName" class="form-control" ng-model="user.lastName" required>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.futureLastName.$dirty && form.futureLastName.$error.required }">
        <label for="futureLastName">Zukünftiger Nachname</label>
        <input type="text" name="futureLastName" id="futureLastName" class="form-control" ng-model="user.futureLastName" required>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.spouseFirstName.$dirty && form.spouseFirstName.$error.required }">
        <label for="spouseFirstName">Vorname des Ehepartners</label>
        <input type="text" name="spouseFirstName" id="spouseFirstName" class="form-control" ng-model="user.spouseFirstName" required>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email,.$error.required }">
        <label for="email">Bitte gebe eine E-Mailadresse an</label>
        <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required>
        
        </div>
        
        <h5>Login-Informationen</h5>
        
        <div class="form-group" ng-class="{ 'has-error': form.userName.$dirty && form.userName.$error.required }">
        <label for="userName">Username</label>
        <input type="text" name="userName" id="userName" class="form-control" minlength="4" ng-model="user.userName" username-available-validator required> 
        <div ng-if="form.$error.usernameAvailable"><i class="glyphicon glyphicon-remove-circle"></i>Name nicht verfügbar. Bitte nutze einen anderen!</div>
       	</div>
       	<div class="form-group">
       	<label for="password">Passwort</label>
       	<input type="password" name="password" id="password" class="form-control" ng-model="user.password" required>
       	</div>
       	
       	<div class="form-actions">
<!--        	<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Registrieren</button> -->
        <button type="submit" class="btn btn-primary">Registrieren</button>
        </div>
    </form>
</div>

<!--   <input type="text" -->
<!--        class="input" -->
<!--        name="username" -->
<!--        minlength="4" -->
<!--        maxlength="15" -->
<!--        ng-model="form.data.username" -->
<!--        pattern="^[-\w]+$" -->
<!--        username-available-validator -->
<!--        placeholder="Choose a username for yourself" -->
<!--        required /> -->
<!--        <div ng-if="form.username.$pending"> -->
<!--     Checking Username... -->
<!--   </div> -->


<!-- <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }"> -->
<!--             <label for="username">First name</label> -->
<!--             <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required /> -->
<!--             <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span> -->
<!--         </div> -->
<!--         <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }"> -->
<!--             <label for="username">Last name</label> -->
<!--             <input type="text" name="lastName" id="Text1" class="form-control" ng-model="user.lastName" required /> -->
<!--             <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span> -->
<!--         </div> -->
<!--         <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }"> -->
<!--             <label for="username">Username</label> -->
<!--             <input type="text" name="username" id="username" class="form-control" ng-model="user.username"  minlength="4" username-available-validator required /> -->
<!--             <span ng-show="form.username.$pending">Checking if this name is available...</span> -->
<!--     		<span ng-show="form.username.$error">This username is already taken!</span> -->
<!--         </div> -->
<!--         <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }"> -->
<!--             <label for="password">Password</label> -->
<!--             <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required /> -->
<!--             <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span> -->
<!--         </div> -->
<!--         <div class="form-actions"> -->
<!--             <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button> -->
<!--             <a href="/login" class="btn btn-link">Cancel</a> -->
<!--         </div> -->
